@charset "UTF-8";


.nested_para{
	margin-left : 100px;
	margin-right : 100px;
	margin-top : 40px;
	margin-bottom : 40px;
}
.glyphicon-search{
	font-size: 1.4em;
}
.navbar-btn{
	margin-left: 3em;
}
.navbar-fixed-top{
	margin-botton: 2em;
}
img {
    max-width: 120vw;
    height : auto;
    width : auto;
    max-height : 40vh;
}
body{
	font-family: 'Coiny', cursive;
	background-image: url("./background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.mainDiv{
	background-image: url("./background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
}
.movieDetail{
	background-color: rgb(0,0,0,.8);
	color: rgb(255,255,255);
	font-family: 'Acme', sans-serif;
	font-size: 3vmin;
}
.heading{
	margin-top: 0.3em;
	font-size: 8em;
}
.navbar-fixed-top{
	min-height: 10em;
}
.nav_button{
	margin-top: 3em;
}
.buttonFormat{
	font-family: 'Coiny', cursive;
	color: black;
}