@charset "UTF-8";

.form-control{
	height: 2vmax;
}
.glyphicon-search{
	font-size: 1vmax;
}
.navbar-btn{
	margin-left: 10vw;
}
img {
    max-width: 120vw;
    height : auto;
    width : auto;
    max-height : 40vh;
}
body{
	font-family: 'Coiny', cursive;
	background-image: url("./background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}
.mainDiv{
	background-image: url("./background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	
}
.movieDetail{
	background-color: rgb(0,0,0,.8);
	color: rgb(255,255,255);
	font-family: 'Acme', sans-serif;
	font-size: 3vmin;
}
.heading{
	margin-top: 0.3em;
	font-size: 15vmin;
}
.navbar-fixed-top{
	min-height: 20vmin;
}
.nav_button{
	margin-top: 2vmin;;
}
.buttonFormat{
	font-family: 'Coiny', cursive;
	color: black;
}
.colophon{
	font-size: 2vmin;
}