@charset "UTF-8";


.nested_para{
	margin-left : 100px;
	margin-right : 100px;
	margin-top : 40px;
	margin-bottom : 40px;
}

.glyphicon-search{
	font-size: 1.4em;
}

.navbar-btn{
	margin-left: 3em;
}

.navbar-fixed-top{
	margin-botton: 2em;
}